


.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background:3px;
}
.textfield-1{
    -fx-border-color:#000;
    -fx-border-width: .7px;
    -fx-font-family: Tahoma;
}
.textfield-1:focused{
   
    -fx-border-color: linear-gradient( #188ba7, #46308e);
    -fx-border-width:1px;
}
.textfield-2{
    -fx-border-color:#000;
    -fx-border-width: .7px;
    -fx-font-family: Tahoma;
}
.textfield-2:focused{
   
    -fx-border-color: linear-gradient( #188ba7, #46308e);
    -fx-border-width:1px;
}
.textfield-3{
    -fx-border-color:#000;
    -fx-border-width: .7px;
    -fx-font-family: Tahoma;
}
.textfield-3:focused{
   
    -fx-border-color: linear-gradient(#a31336, #861d2a);
    -fx-border-width:1px;
}
.btn-1{

    -fx-background-color: linear-gradient(#188ba7, #306090);
    -fx-background-radius:5;
    -fx-background-insets: 0;
    -fx-font-family:Arial;
    -fx-text-fill:#fff;
    -fx-text-fill: white;
    -fx-font-size:14px;

}
.btn-1:hover{

    -fx-background-color: linear-gradient(#11a7c9, #2765a4);
}
.btn-2{

    -fx-background-color: linear-gradient( #a413a1, #64308e);
    -fx-background-radius:5;
    -fx-background-insets: 0;
    -fx-font-family:Arial;
    -fx-text-fill:#fff;
    -fx-text-fill: white;
    -fx-font: 14px;

}
.btn-2:hover{

    -fx-background-color: linear-gradient(#c512c5, #76289d);
}
.btn-3{

    -fx-background-color: linear-gradient(#a31336, #861d2a);
    -fx-background-radius:5;
    -fx-background-insets: 0;
    -fx-font-family:Arial;
    -fx-text-fill:#fff;
    -fx-text-fill: white;
    -fx-font: 14px;

}
.btn-3:hover{

    -fx-background-color: linear-gradient(#bf0d3c, #9d1022);
}