


.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background:3px;
}
.textfield-1{
    -fx-border-color:#000;
    -fx-border-width: .7px;
    -fx-font-family: Tahoma;
}
.textfield-1:focused{
   
    -fx-border-color: linear-gradient( #188ba7, #306090);
    -fx-border-width:1px;
}


.btn-1{

    -fx-background-color: linear-gradient(#188ba7, #306090);
    -fx-background-radius:5;
    -fx-background-insets: 0;
    -fx-font-family:Arial;
    -fx-text-fill:#fff;
    -fx-text-fill: white;

}
.btn-1:hover{

    -fx-background-color: linear-gradient(#11a7c9, #2765a4);
}